.rounded{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.myimage{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#font{
    font-family: 'Courier New', Courier, monospace;
}
.head{
    font-size: 23px;
}
.mydetails{
    line-height: 0pc;
}
#contenttext{
    text-align: justify;
    margin-top: 0px;
}
.contentdiv{
    display: flex;
    flex-direction: column;
    background-color: oldlace;
}
.contenhead{
    padding-left: 15px;
    padding-right: 15px;
}
