<footer>
    <button><a class = "aboutUsContent" href = '/about'> About</a></button>
    <span class="separator">|</span>
    <button><a class = "aboutUsContent" href = '/contact'>Contact</a></button>  
</footer>