<%- include('./partials/header.ejs') %>

<div class="content">
    <div class="center-container">
        <div class="event-heading">
            <h3 class="dis-in-bl">About Us</h3>
        </div>
        <div class="m-60">
            <p>Electronics.</p>
            <p>Electronics made people's lives easier, smoother and more vibrant, and reduced distances between
                nations, such as the use of mobile phones and personal computers. It facilitated communication
                between individuals, communities, and countries, deepened dialogue, and approached languages, many
                of which relied on translation features.
            </p>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>